a {
  font-size: 1.1875rem;
}

a:link,
a:visited {
  color: #ff652f;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ffe400;
  text-decoration: underline;
}

body {
  background-color: #272727;
  color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

h2 {
  color: #14a76c;
}

#nav-container {
  border-bottom: 1px solid #ff652f;
}

#nav {
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0.75rem;
}

#not-found {
  color: #ff652f;
  text-align: center;
}

pre {
  background-color: #272727 !important;
}

::selection {
  background-color: #747474;
}

.title {
  color: #14a76c;
}
