a {
  font-size: 1.1875rem;
}

a:link,
a:visited {
  color: #cd5c5c;
  text-decoration: none;
}

a:hover,
a:active {
  color: #5c95cd;
  text-decoration: underline;
}

body {
  background-color: #363538;
  color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

pre {
  background-color: #363538 !important;
}

.title {
  color: #5ccd95;
}
